@media (min-width:944px) {
    .main-container {
        width: 924px;
        height: 500px;
        display: flex;
        margin-top: 170px;
    }

    article {
        height: 100%;
    }

    p {
        margin-bottom: 70px;
    }
}